<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img
      src="../assets/u385.png"
      width="325px"
      height="70px"
      class="d-inline-block align-top"
      alt=""
    />
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="navbar-nav float-left text-right pr-3">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="#">PVS/HCR</a>
      <a class="nav-item nav-link" href="#">HCR National</a>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          TLA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">TLA Analytics</a>
          <a class="dropdown-item" href="#">Trailer Utilization Reports</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </div>
  </div>
</nav>
